.elements {
  display: grid;
  margin: 0 auto;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;

  gap: 20px 17px;

  margin-top: 51px;
  max-width: 880px;
}

@media screen and (max-width: 880px) {
  .elements {
    margin-top: 36px;
  }
}
